<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<body>
    <div class="container">
        <h1>weather app</h1>
    </div>
    <form method="POST">
        {% csrf_token %}
        <input type="text" name = "city" placeholder="Enter city">
        <button type="submit">search</button>
    </form>
    <h2>{{temp}}</h2>
    <h3>{{city}}</h3>
    <p>{{ description }}</p>
    <p>
        <img src="http://openweathermap.org/img/w/{{ icon }}.png" width="100px">
    </p>
    <p>{{ day }}</p>

</body>
</html>